.nav-container{
    
    width: 100%;
    height: 10vh;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    column-gap: 8vh;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    /* position: fixed; */
    position: inherit;
}

.ico {
   margin-top: 1vh;
   font-size: 4vh;
   text-decoration: none !important;
   color: white;
}



.home{
    margin-right: 20vh;
    margin-top: 1vh;
   font-size: 4vh;
   text-decoration: none !important;
   color: white;
}